body
.quote-container {
  background-color: #F6F3F9;
  border-radius: 4px;
  padding: 55px;
  text-align: center;
}

.quote-text {
  font-size: 15px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: bold;
  color: #9065B0;
}

