body
.quote-container {
  background-color: #FAF1F5;
  border-radius: 4px;
  padding: 110px;
  text-align: center;
}

.quote-text {
  font-size: 15px;
  margin-bottom: 10px;
  font-family: "Roboto Slab", Times, serif;
  font-weight: 300;
  font-style: italic;
}

